{% extends '::layout.html.twig' %}

{% block title %}Ramos{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6 col-md-offset-3">
                    <h3 class="text-center">Ramos</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Sigla</td>
                                <td>Nombre</td>
                                <td>Tipo</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for usuario in usuarios %}
                                <tr>
                                    <td>{{ usuario.idusuario }}</td>
                                    <td>{{ usuario.rolperfil }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                        
                    <a href="{{ path('asesores_sa_nuevoUsuario') }}" class="btn btn-primary" role="button">Nuevo</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}